<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Master</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <main class="grid grid-cols-8 gap-4 m-2">
    <header class="col-span-8"><br>
      <h1 class="col-span-8 text-center text-6xl font-extrabold">
        Book Master
      </h1><br>
      <h2 class="col-span-8 text-center text-3xl">
        Welcome, {{#if logged_in}} {{name}} {{else}} Potential book master!{{/if}}
      </h2><br><br>
      <nav class="col-span-8 space-x-10 text-center text-xl">
        <a href="/" id='homepage-nav' class="col-span-2 w-[100px] hover:text-blue-400">My Homepage</a>
        <a href="/search" id='search-nav' class="col-span-2 w-[100px] hover:text-blue-400">Search For Books</a>
        <a href="/books" id='freebooks-nav' class="col-span-2 w-[100px] hover:text-blue-400">Free Books</a>
      {{#if logged_in}} <button id="logout" class="col-span-2 w-[100px]">Logout</button>{{/if}}
      </nav>
    </header>

    <!-- Render the main sub layout -->
    {{{ body }}}

    <footer>
    </footer>
  </main> 

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
 
  <script src="/js/books.js"></script>
  {{/if}}

</body>

</html>