<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Master</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/c5ba532b80.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <main class="grid grid-cols-8 gap-4">
    <header class="col-span-8"><br><br>
      <h1 class="col-span-8 text-center text-7xl font-extrabold">
      <span class="bg-black bg-opacity-60 rounded-xl text-[--amber] text-decoration-line: underline">&nbsp&nbsp Book <i class="fa-solid fa-book-open-reader" style="color: #3C455C"></i> Master &nbsp&nbsp</span>
      </h1><br>
      <h2 class="col-span-8 text-center text-[--amber] text-3xl font-serif">
        <span class="bg-black bg-opacity-60 rounded-md">&nbsp Welcome, {{#if logged_in}} {{name}}! {{else}} potential book master! &nbsp{{/if}}</spans>
      </h2>
      </div><br><br><br>  
      <nav class="col-span-8 space-x-10 p-2 opacity-80 text-center text-xl bg-[--night] outline outline-1 outline-[--amber]">
        <a href="/" id='homepage-nav' class="col-span-2 w-[100px] font-bold text-[white] hover:text-[--silver] active:opacity-50 visited:text-blue">My Homepage</a>
        <a href="/search" id='search-nav' class="col-span-2 w-[100px] font-bold text-[white] hover:text-[--silver] active:opacity-50">Search For Books</a>
        <a href="/books" id='freebooks-nav' class="col-span-2 w-[100px] font-bold text-[white] hover:text-[--silver] active:opacity-50">Free Books</a>
      {{#if logged_in}} 
        <button id="logout" class="col-span-2 w-[100px] font-bold text-[white] hover:text-[--silver] active:opacity-50">Logout</button>
      {{/if}}
      </nav>
    </header>

    <!-- Render the main sub layout -->
    {{{ body }}}

    <footer>
    </footer>
  </main>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="/js/books.js"></script>
  <script src="/js/freeBooks.js"></script>
  {{/if}}

</body>

</html>