<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  
  <body>
    <div class="grid grid-cols-8 gap-4 m-2">
    <header class="col-span-8"><br>
      <h1 class="col-span-8 text-center text-6xl">
         Book Master
      </h1><br>
      <h2 class="col-span-8 text-center text-3xl">
        Welcome, User!
      </h2><br><br>
        <nav class="col-span-8 space-x-10 text-center text-xl">
          <a href="/homepage" class="col-span-2 w-[100px]">My Homepage</a>
          <a href="/search" class="col-span-2 w-[100px]">Search For Books</a>
          <a href="/books" class="col-span-2 w-[100px]">Free Books</a>
          <a href="/login" class="col-span-2 w-[100px]">Log Out</a>
        </nav><br>  
      </header>
      <main>
      </main>
    </div>
  </body>    