 <nav class="col-span-8 space-x-10 text-center text-xl">
    <a href="/homepage" class="col-span-2 w-[100px]">My Homepage</a>
    <a href="/search" class="col-span-2 w-[100px]">Search For Books</a>
    <a href="/" class="col-span-2 w-[100px]">Free Books</a>
    <a href="/login" id="logout" class="col-span-2 w-[100px]">Log Out</a>
  </nav><br>  
  <main>
  </main>