      <div class="col-span-8 flex mb-4 p-5 outline outline-1">
        <div class="w-full p-2 m-10 outline outline-1">
          <h3 class="text-2xl text-center font-extrabold">Log In</h3><br>
            <form class="login-form">
              <div class="form-group flex flex-col items-center">
                <label for="email-login" class="items-center">Email:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%]" type="text" id="email-login" />
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="password-login col-span-8 w-[50%]">Password:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%]" type="password" id="password-login" />
              </div><br><br><br><br><br>
              <div class="form-group text-center">
                <button id="login-btn" class="bg-blue-500 hover:bg-blue-700 col-span-8 w-[50%] text-white active:text-blue-500" type="submit">Log In</button>
              </div><br>
            </form>
        </div> 
        <div class="w-full p-2 m-10 outline outline-1">
          <h3 class="text-2xl text-center font-extrabold">Sign Up</h3><br>
            <form class="signup-form">
              <div class="form-group flex flex-col items-center">
                <label for="email-signup">First Name:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%]" type="text" id="first-name-signup" />
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="email-signup">Last Name:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%]" type="text" id="last-name-signup" />
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="email-signup">Email:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%]" type="text" id="email-signup" />
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="password-signup">Password:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%]" type="password" id="password-signup" />
              </div><br>
              <div class="form-group text-center">
                <button id="signup-btn" class="bg-blue-500 hover:bg-blue-700 w-[50%] text-white active:text-blue-500" type="submit">Sign Up</button>
              </div><br>
            </form>
        </div>
      </div>

      <script src="/js/login.js"></script>
