<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  
  <body>
    <div class="grid grid-cols-8 gap-4 m-2">
    <header class="col-span-8"><br>
      <h1 class="col-span-8 text-center text-6xl">
         Book Master
      </h1><br>
      <h2 class="col-span-8 text-center text-3xl">
        Welcome, User!
      </h2><br><br>  
      </header>
      <main class="col-span-8 flex mb-4 p-5 outline outline-1">
        <div class="w-full p-2 m-2 outline outline-1">
          <h3 class="text-2xl text-center">Log In</h3><br>
            <form id="login-form">
              <div class="form-group flex flex-col items-center">
                <label for="email-login" class="items-center">Email:</label>
                <input class="form-input" type="text" id="email-login" />
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" />
              </div><br><br><br>
              <div class="form-group text-center">
                <button id="login-btn" class="bg-blue-500 w-[200px]" type="submit">Log In</button>
              </div><br>
            </form>
        </div> 
        <div class="w-full p-2 m-2 outline outline-1">
          <h3 class="text-2xl text-center">Sign Up</h3><br>
            <form id="signup-form">
              <div class="form-group flex flex-col items-center">
                <label for="name-signup">Name:</label>
                <input class="form-input" type="text" id="name-signup" />
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="email-signup">Email:</label>
                <input class="form-input" type="text" id="email-signup" />
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="password-signup">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
              </div><br>
              <div class="form-group text-center">
                <button id="signup-btn" class="bg-blue-500 w-[200px]" type="submit">Sign Up</button>
              </div><br>
            </form>
        </div>
      </main>
      <footer>
      </footer>
    </div>
    <script src="./js/login.js"></script>
  </body>  

</html> 