<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  
  <body>
    <div class="grid grid-cols-8 gap-4 m-2">
    <header class="col-span-8"><br>
      <h1 class="col-span-8 text-center text-6xl">
         Book Master
      </h1><br>
      <h2 class="col-span-8 text-center text-3xl">
        Welcome, User!
      </h2><br><br>
        <nav class="col-span-8 space-x-10 text-center text-xl">
          <a href="" class="col-span-2 w-[100px]">My Homepage</a>
          <a href="" class="col-span-2 w-[100px]">Search For Books</a>
          <a href="" class="col-span-2 w-[100px]">Free Books</a>
          <a href="" class="col-span-2 w-[100px]">Log Out</a>
        </nav><br>  
      </header>
      <main class="col-span-8 flex mb-4 p-5 outline outline-1">
        <div class="w-full p-2 m-2 outline outline-1">
          <h3 class=>Log In</h3>
        </div> 
        <div class="w-full p-2 m-2 outline outline-1">
          <h3>Sign Up</h3>
        </div>
      </main>
      <footer>
      </footer>
    </div>
  </body>  

</html> 








<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
