      <div class="col-span-8 flex mb-4 p-2 outline outline-1 mx-4 bg-[--brown] outline-[--amber] rounded-xl">
        <div class="w-full p-6 m-6 outline outline-4 bg-white rounded-xl outline-[--amber]">
          <h3 class="text-2xl text-center font-extrabold text-white bg-[--night] rounded-t-lg">Log In</h3>
            <form class="login-form bg-[--white] rounded-b-lg">
              <div class="form-group flex flex-col items-center">
                <label for="email-login" class="items-center">Email:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%] focus:outline-2 focus:outline-lime-600" type="text" id="email-login" />
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="password-login col-span-8 w-[50%]">Password:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%] focus:outline-2 focus:outline-lime-600" type="password" id="password-login" />
              </div><br><br><br><br><br>
              <div class="form-group text-center">
                <button id="login-btn" class="rounded-lg bg-lime-800 hover:bg-lime-700 col-span-8 w-[50%] text-white active:opacity-50" type="submit">Log In</button>
              </div><br>
            </form>
        </div> 
        <div class="w-full p-6 m-6 outline outline-[--amber] outline-4 bg-white rounded-xl">
          <h3 class="text-2xl text-center font-extrabold text-white bg-[--night] rounded-t-lg outline-[--amber]">Sign Up</h3>
            <form class="signup-form bg-[--white] rounded-b-lg">
              <div class="form-group flex flex-col items-center">
                <label for="email-signup">First Name:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%] focus:outline-2 focus:outline-lime-600" type="text" id="first-name-signup"/>
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="email-signup">Last Name:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%] focus:outline-2 focus:outline-lime-600" type="text" id="last-name-signup"/>
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="email-signup">Email:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%] focus:outline-2 focus:outline-lime-600" type="text" id="email-signup"/>
              </div>
              <div class="form-group flex flex-col items-center">
                <label for="password-signup">Password:</label>
                <input class="form-input outline outline-1 col-span-8 w-[50%] focus:outline-2 focus:outline-lime-600" type="password" id="password-signup"/>
              </div><br>
              <div class="form-group text-center">
                <button id="signup-btn" class="rounded-lg bg-lime-800 hover:bg-lime-700 w-[50%] text-white active:opacity-50" type="submit">Sign Up</button>
              </div><br>
            </form>
        </div>
      </div>
      
      <script src="/js/login.js"></script>
