<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  
  <body>
    <div class="grid grid-cols-8 gap-4 m-2">
    <header class="col-span-8"><br>
      <h1 class="col-span-8 text-center text-6xl">
         Book Master
      </h1><br>
      <h2 class="col-span-8 text-center text-3xl">
        Welcome, User!
      </h2><br><br>
        <nav class="col-span-8 space-x-10 text-center text-xl">
          <a href="" class="col-span-2 w-[100px]">My Homepage</a>
          <a href="" class="col-span-2 w-[100px]">Search For Books</a>
          <a href="" class="col-span-2 w-[100px]">Free Books</a>
          <a href="" class="col-span-2 w-[100px]">Log Out</a>
        </nav><br>  
      </header>
      <main class="col-span-8 p-20 text-xl outline outline-1">
        <p class="col-span-8">Search books by title, author, or ISBN:</p>
        <input type="text" id="search-input"class="col-span-8 w-[100%]"><br><br>
        <label for="Books" id="search-type">Select Search Type:</label><br>
        <select class="col-span-8 w-[100%]">
          <option="title">Title</option>
          <option="author">Author</option>
          <option="isbn">ISBN</option>
          </select><br><br>    
          <button id="search-button" class="bg-blue-500 w-[200px]">Search</button>
      </main>
      <footer>
      </footer>
    </div>
  </body>  

</html>  