
<main class="col-span-8 p-20 text-xl outline outline-1">
  <form id="search-form">
    <p class="col-span-8">Search books by title, author, or ISBN:</p>
    <input type="text" id="search-input"class="col-span-8 w-[100%]"><br><br>
    <label for="Books">Select Search Type:</label><br>
    <select id="search-type" class="col-span-8 w-[100%]">
      <option="title">Title</option>
      <option="author">Author</option>
      <option="isbn">ISBN</option>
    </select><br><br>    
    <button id="search-button" class="bg-blue-500 w-[200px]">Search</button>
  </form>
  <!-- Container to hold search results content -->
  <div id="search-container">
</main>